# Shanmugaraj Portfolio Environment Template
# For Vite, variables exposed to the client must start with VITE_
VITE_FORMSPREE_ENDPOINT="https://formspree.io/f/YOUR_FORM_ID"
VITE_RESUME_LINK="https://drive.google.com/file/d/1NMR8_jzPbVIGXav8QDBrYkvPSOQxsQhi/view?usp=drive_link"
